<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 profilePicture">
      <img ng-src="{{ usersShow.user.image_src }}" alt="profile picture">
    </div>
    <div class="col-md-6 col-sm-12 userButtons">
      <h4>{{ usersShow.user.username }}</h4><hr>
      <h5>{{ usersShow.user.email }}</h5><hr>
      <h5>{{ usersShow.user.location }}</h5><hr>
      <a ui-sref="usersEdit({ id: usersShow.user.id })" class="btn btn-primary">Edit Your Profile</a><br>
      <a ng-click="usersShow.delete()" class="btn btn-danger">Delete Your Profile</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12 usersJobInfo">
      <h4 class="jobsTitleProfile">Jobs Posted</h4>
      <div>
        <div ng-repeat="jobsPosted in usersShow.user.jobs_posted"><img class="jobPhotoProfilePage" ng-src="{{ jobsPosted.image_src }}" alt="job main photo"><br><a ui-sref="jobsShow({ id: jobsPosted.id })">{{ jobsPosted.title }}</a><br>Number of Applicants: {{ jobsPosted.applicants.length }}</div><br>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 usersJobInfo">
      <h4 class="jobsTitleProfile">Jobs Applied For</h4>
      <div>
        <div ng-repeat="jobsApplied in usersShow.user.jobs_applied_for"><img class="jobPhotoProfilePage" ng-src="{{ jobsApplied.image_src }}" alt="job main photo"><br><a ui-sref="jobsShow({ id: jobsApplied.id })">{{ jobsApplied.title }}</a><br></div><br>
      </div>
    </div>
    <div id="jobsToDoDiv" class="col-md-4 col-xs-12 usersJobInfo">
      <h4 class="jobsTitleProfile">Jobs To Do</h4>
      <div>
        <div ng-repeat="jobsToDo in usersShow.user.jobs_to_do"><img class="jobPhotoProfilePage" ng-src="{{ jobsToDo.image_src }}" alt="job main photo"><br><a ui-sref="jobsShow({ id: jobsToDo.id })">{{ jobsToDo.title }}</a><br></div><br>
      </div>
    </div>
  </div>
</div>
