<!DOCTYPE html>
<div class="search">
  <input class="searchBox" type="text" ng-model="jobsIndex.q" placeholder="Search...">
  <label class="categorySearch">Select the pay range</label>
  <select class="paySearch" ng-model="jobsIndex.sort">
    <option class="test" value="hourly_rate">Pay - Lowest to Highest</option>
    <option value="-hourly_rate">Pay - Highest to Lowest</option>
  </select>
  <div class="categorySearch">
    <h4>Select Categories</h4>
    <label ng-repeat="category in jobsIndex.categories">
    <input class="listOfCategories" type="checkbox" name="categories" checklist-model="jobsIndex.job.category_ids" checklist-value="category.name">  {{ category.name }}</label>
  </div>
</div>
<div class="container">
  <div class="row">
    <div ng-repeat="job in jobsIndex.filtered" class="col-md-3 jobBox">
      <img class="displayImage" ng-src="{{ job.image_src }}">
      <div class="displayImageCategoryIcon" ng-style="{ 'background-image': 'url({{ job.categories[0].image }})' }"></div>
      <div class="displayTitle">
        <a ui-sref="jobsShow({ id: job.id })"><h4>{{ job.title }}</h4><h6>{{ job.address_line3 }}</h6></a>
      </div>
    </div>
  </div>
</div>
