<!DOCTYPE html>

<div class="container">

  <form name="jobsNew.jobsNewForm" ng-submit="jobsNew.create()" novalidate>

    <div class="form-group">
      <label>Job Title</label>
      <input type="text" name="title" class="form-control" ng-model="jobsNew.job.title" placeholder="maximum 35 characters" required maxlength="35">
    </div>
    <div ng-messages="jobsNew.jobsNewForm.title.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.title.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input name="description" type="text" class="form-control" ng-model="jobsNew.job.description" placeholder="Please give a clear description of the job, the expected time to complete etc." required>
    </div>
    <div ng-messages="jobsNew.jobsNewForm.description.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.description.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <!-- <div class="form-group">
      <label for="location">Where will the job take place?</label><br>
      <input class="form-control" id="location" type="text" name="location" autocomplete ng-model="jobsNew.job.address_line1" lat="jobsNew.job.lat" lng="jobsNew.job.lng" required>
    </div>
    <input type="hidden" ng-model="jobsNew.job.lat" name="lat" value="">
    <input type="hidden" ng-model="jobsNew.job.lng" name="lng" value=""> -->
    <div class="form-group">
      <label>Job Address Street Name and Number</label>
      <input name="street" type="text" class="form-control" ng-model="jobsNew.job.address_line1" required>
    </div>
    <div ng-messages="jobsNew.jobsNewForm.street.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.street.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <div class="form-group">
      <label>Town</label>
      <input name="town" type="text" class="form-control" ng-model="jobsNew.job.address_line2" required>
    </div>
    <div ng-messages="jobsNew.jobsNewForm.town.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.town.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <div class="form-group">
      <label>City</label>
      <input name="city" type="text" class="form-control" ng-model="jobsNew.job.address_line3" required>
    </div>
    <div ng-messages="jobsNew.jobsNewForm.city.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.city.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <div class="form-group">
      <label>Post Code</label>
      <input name="postcode" type="text" class="form-control" ng-model="jobsNew.job.address_line4" required>
    </div>
    <div ng-messages="jobsNew.jobsNewForm.postcode.$error" role="alert">
      <div class="ngMessages" ng-show="(jobsNew.jobsNewForm.postcode.$touched)" ng-message="required">Please enter a value for this field.</div>
    </div>
    <div class="form-group">
      <label>When does the Job need to be done?</label>
      <input type="date" class="form-control" ng-model="jobsNew.job.date">
    </div>
    <div class="form-group">
      <label>Hourly rate you are offering</label>
      <input type="currency" class="form-control" placeholder="£p/h" ng-model="jobsNew.job.hourly_rate">
    </div>
    <div class="form-group">
    <label for="base64">Cover Photo for the job</label>
    <input type="file" base64 name="base64" id="base64" ng-model="jobsNew.job.base64">
    </div>
    <div class="form-group categoryDisplay">
      <label>What Categories does this job fall into?</label><br>
      <label ng-repeat="category in jobsNew.categories">
      <input type="checkbox" name="categories" checklist-model="jobsNew.job.category_ids" checklist-value="category.id"> {{ category.name }} <img ng-src="{{ category.image }}"></label>
    </div>

    <button class="btn btn-primary">Post Job</button>
  </form>

</div>
