<!DOCTYPE html>
<div class="container">
  <h2>{{ jobsShow.job.title }}</h2>
  <img ng-src="{{ jobsShow.job.image_src }}">
  <p>{{jobsShow.job.description }}</p>
  <p>£{{ jobsShow.job.hourly_rate }} p/h</p>
  <p>Job Posted By: {{ jobsShow.job.postedBy }}</p>

  <div class="categoryDisplay">
    <ul>
      <li ng-repeat="category in jobsShow.job.categories">{{ category.name }} <img ng-src="{{ category.image }}"></li>
    </ul>
  </div>

  <h4>Current Applicant Pool</h4>
  <ul>
    <li ng-repeat="applicant in jobsShow.job.applicants"><a class="profileViewPool" ui-sref="usersShow({ id: applicant.id })">{{ applicant.username }}</a><button ui-sref="applicantSelection({ id: jobsShow.job.id, userid: applicant.id })" ng-if="main.currentUser.id == jobsShow.job.id" class="btn btn-primary">Accept {{applicant.username }} to {{ jobsShow.job.title }}</button></li>
  </ul>

  <button class="btn btn-primary" ng-click="jobsShow.toggleApplied()" ng-if="!jobsShow.hasApplied() && main.isAuthenticated()">Apply For Job</button><br>
  <button class="btn btn-danger" ng-click="jobsShow.toggleApplied()" ng-if="jobsShow.hasApplied() && main.isAuthenticated()">Withdraw Application</button><br>


  <a ui-sref="jobsEdit({ id: jobsShow.job.id })" class="btn btn-primary">Edit Job</a><br>
  <button ng-click="jobsShow.delete()" class="btn btn-danger">Delete Job</button>
</div>
