// Import all of your scss files here
body {
  font-family: 'Ubuntu', sans-serif;
}

.jobBox {
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  width: 300px;
  height: 280px;
  text-align: center;
  margin-right: 30px;
  margin-top: 60px;
  background-color: white;
  float: left;
  overflow: hidden;
  a {
    color: #333;
  }
}

img.displayImage {
  width: 300px;
  height: 200px;
  float: right;
  margin-right: -15px;
  margin-bottom: 20px;
  &:hover {
    // write something to hide category icon
  }
}

.displayImageCategoryIcon {
  height: 40%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}

.displayTitle {
  margin-top: 50px;
  a {
    box-sizing: border-box;
    padding: 7px;
    display: block;
    text-align: left;
    margin-top: 5px;

    h4 {
      padding-top: 13px;
      font-size: 15px;
    }
    h6 {
      font-size: 14px;
      color: grey;
    }
  }
}

.navbar {
  min-height: 70px;
  border-radius: 0px;
  margin-bottom: 0;
  li {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 70px;
    a {
      line-height: 70px;
      padding: 5px 15px;
    }
    &:first-child {
      a {
        padding-top: 0px;
      }
    }
  }
}

body {
  background-color: #D3D3D3;
}

.categoryDisplay {
    img {
    height: 80px;
    width: auto;
  }
}

li {
  list-style: none;
}

.logo {
  height: 50px;
  width: auto;
}

.githublogin {
  height: 50px;
  width: auto;
  margin-left: -10px;
}

.profileViewPool {
  margin-right: 50px;
  padding: 10px;
}

.profilePic {
  height: 250px;
  width: auto;
}

.search {
  height: 1000px;
  background-color: #D3D3D3;
  width: 20%;
  float: left;
  margin-top: 0;
  display: inline-block;
}

.searchBox {
  margin-top: 60px;
  border-radius: 4px;
  width: 70%;
  margin-left: 10%;
  text-indent: 10px;
  border-style: none;
  height: 35px;
}

.categorySearch {
  margin-left: 12%;
  margin-top: 35px;
  h4 {
    font-size: 15px;
    margin-top: 20%;
  } label {
    font-size: 13px;
    display: block;
    padding-top: 5px;
    margin-left: 10px;
  }
}

.paySearch {
  margin-top: 5px;
  border-radius: 4px;
  width: 70%;
  margin-left: 10%;
  text-indent: 10px;
  border-style: none;
  height: 35px;
}

select {
  font-family: 'Ubuntu', sans-serif;
}
