// Import all of your scss files here
* {
  font-family: 'Ubuntu', sans-serif;
}

.jobBox {
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
  height: 280px;
  text-align: center;
  margin-top: 60px;
  background-color: white;
  overflow: hidden;
  a {
    color: #333;
  }
}

img.displayImage {
  width: 100%;
  height: 200px;
  &:hover {
    // write something to hide category icon
  }
}

.displayImageCategoryIcon {
  height: 40%;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}

.displayTitle {
  a {
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    text-align: left;

    h4 {
      font-size: 15px;
    }
    h6 {
      font-size: 14px;
      color: grey;
    }
  }
}

.navbar {
  min-height: 70px;
  border-radius: 0px;
  margin-bottom: 0;
  li {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 70px;
    a {
      line-height: 70px;
      padding: 5px 15px;
    }
    &:first-child {
      a {
        padding-top: 0px;
      }
    }
  }
}

body {
  background-color: #D3D3D3;
}

.categoryDisplay {
    img {
    height: 80px;
    width: auto;
  }
}

li {
  list-style: none;
}

.logo {
  height: 50px;
  width: auto;
}

.githublogin {
  height: 50px;
  width: auto;
  margin-left: -10px;
}

.profileViewPool {
  margin-right: 10%;
  padding: 10px;
  display: inline;
}

.searchBox {
  margin-top: 60px;
  border-radius: 4px;
  width: 70%;
  margin-left: 10%;
  text-indent: 10px;
  border-style: none;
  height: 35px;
}

.categorySearch {
  margin-left: 12%;
  margin-top: 35px;
  h4 {
    font-size: 15px;
    margin-top: 20%;
  } label {
    font-size: 13px;
    display: block;
    padding-top: 5px;
    margin-left: 10px;
  }
}

.paySearch {
  margin-top: 5px;
  border-radius: 4px;
  width: 70%;
  margin-left: 10%;
  text-indent: 10px;
  border-style: none;
  height: 35px;
}

select {
  font-family: 'Ubuntu', sans-serif;
}

.showPagePicture {
  height: 75vh;
  width: 60vw;
  margin-left: 8%;
  margin-bottom: 30px;
}

.summaryBox {
  text-align: center;
  margin-top: 50px;
  li {
    padding: 0;
  }
}

.categoryShowPage {
  display: inline;
  margin-left: -40px;
  margin-right: 40px;
}

.ownersViewShowPage {
  img {
    height: 60px;
    width: auto;
  }
}

.map {
  margin-top: 100px;
  height: 300px;
  background-color: yellow;
}

.commentBox {
  width: 50%;
  height: 100px;
  display: block;
  margin-bottom: 10px;

}

.ngMessages {
  margin-bottom: 10px;
  color: red;
}

.description {
  margin-top: 50px;
}

.details {
  margin-top: 50px;
}

.showImage {
  height: 400px;
  margin-top: 50px;
}

.comments {
  padding-left: 0;
}

.btn {
  display: grid;
}


.profilePicture {
  height: 280px;
  width: 250px;
  margin: 50px 100px 50px 100px;
}

.userButtons {
  margin-top: 50px;
}

.usersJobInfo {
  min-height: 300px;
  height: auto;
  background-color: #ddd;
  border: 1px solid black;
  h4 {
    text-align: center;
    margin: 15px 0 20px 0;
  }
}

.jobPhotoProfilePage {
  height: 50px;
  width: 75px;
}

.topLineForm {
  margin-top: 50px;
}

body {
  &.jobsIndex {
    .container {
      width: auto;
    }
  }
}
